# Created by .ignore support plugin (hsz.mobi)
将删除 .gitignore
将删除 authserver/src/test/
将删除 authserver/target/generated-sources/
将删除 gateway/target/generated-sources/
将删除 gateway/target/generated-test-sources/
将删除 service1/target/generated-sources/
将删除 service1/target/generated-test-sources/
将删除 ssoclient1/src/main/java/com/zxz/clouddemo/api/
将删除 ssoclient1/src/test/
将删除 ssoclient1/target/generated-sources/
将删除 ssoclient2/src/main/java/com/zxz/clouddemo/api/
将删除 ssoclient2/src/test/
将删除 ssoclient2/target/generated-sources/
**/**.iml